@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Mozilla+Headline:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&family=Smooch+Sans:wght@100..900&family=Varela&family=Varela+Round&display=swap');

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari */
.modal-content::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0; /* xóa margin mặc định của trình duyệt */
}

*, *::before, *::after {
  box-sizing: border-box;
}
